.git
.idea
data
deploy
frontend/node_modules
frontend/dist
logs
test
web
.env
.gitattributes
.gitignore
build.bat
build.sh
config.json
docker-compose.yml
Dockerfile
LICENSE
Makefile
README.md
*.db
*.log
